<div class="container">
  <div class="row">
    <div class="col-10 p-3">
      <!-- whatever the user enters here will be assigned to messageString variable -->
      <input
        name="user-message-input"
        type="input"
        class="form-control"
        placeholder="Type a message"
        [(ngModel)]="messageString"
      />
    </div>
    <div class="col-2 p-3">
      <div class="float-end">
        <!-- when user clicks, it will create user and add it to the server via MessagingDataService -->
        <button class="btn btn-primary" (click)="onSendMessage()">Send</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3 p-3">Message Preview</div>
    <div class="col-9 p-3">
      <div class="col-10 p-3 border rounded-5">
        <span>{{ messageString }}</span>
      </div>
    </div>
  </div>
</div>
